%h1 classy
%h2 as fuck

.row Hello World

.row
  Hello Cat
  %img{:src=>"http://placekitten.com/500/500"}

.p
  This is really cool <a href="#">check it out</a>


- 5.times do |x|
  %h1
    = "I love haml #{x} times"
    
